<link
  rel="stylesheet"
  href="{{ 'timer-style.css' | asset_url }}"
  media="print"
  onload="this.media='all'"
/>

<div class="timer-box" id="timer-div">Hello</div>

{% schema %} { "name": "count timer", "tag": "section", } {% endschema %}
