.product__price.on-sale {
  color: rgb(28, 29, 29);
  font-size: 1.6em;
  font-weight: 600;
}

.product__price--compare {
  font-size: 1.2em;
  font-weight: 600;
  color: #999;
}

.subscription_table {
  border: solid 1px #3333;
  border-spacing: 2px;
}

.subscription_table {
  border: solid 1px #3333;
  border-spacing: 2px;
}

.subscription_table td {
  border: solid 1px #3333;
  text-align: center;
}

.red {
  color: #b54242;
}

.subscription_table-heading {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 10px;
}

[data-product-images] {
  position: relative;
}

.product-badge {
  position: absolute;
  padding: 8px 12px;
  line-height: 1;
  font-size: 14px;
  letter-spacing: 0;
  text-transform: capitalize;
  color: #1a2a47;
  border: solid 1px #1a2a47;
  background-color: #FFF;
}

.badge-bestseller {
  top: -14px;
  left: -8px;
}

.badge-freeshipping {
  top: -14px;
  right: -8px;
  display: flex;
  align-items: center;
}

.badge-freeshipping svg {
  width: 22px;
  height: 20px;
  margin-right: 6px;
  margin-top: -6px;
  margin-bottom: -6px;
}

.product-block .payment-icons {
  justify-content: center;
  margin-bottom: 0;
}

.product-block .free-shipping {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: .5px;
  margin-bottom: 0;
}

.product-block .free-shipping svg {
  width: 30px;
  margin-right: 10px;
  height: 30px;
}

.product-block .frequent-badge {
  margin: 0;
  display: block;
  text-align: center;
  font-family: Avenir,sans-serif;
  font-style: normal;
  font-size: 15px;
  line-height: 18px;
  border: 1px solid;
  padding: 9px 5px;
  color: #ff5f01;
  background: #fff2eb;
  font-weight: 400;
  letter-spacing: .5px;
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}

.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.payment-wrapper.sticky {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
  left: 0;
  background: #FFF;
  padding: 10px 20px;
  opacity: .95;
}

.collection-image img {
  border-radius: 20px;
}

.btn {
  text-transform: uppercase;
  border-radius: 10px;
}

.section-text-columns .h3.rte--block {
  font-size: 18px;
  letter-spacing: .5px;
  margin-top: 20px;
  margin-bottom: 20px
}

.section-text-columns .rte--block p {
  letter-spacing: .5px;
  font-style: italic;
}

@media screen and (max-width: 768px) {
  .section-text-columns .grid__item {
    display: flex;
  }

  .section-text-columns .grid__item .item-image {
    width: 50%;
  }

  .section-text-columns .grid__item .item-content {
    width: 50%;
  }

  .site-header .header-item--logo {
    flex: 0 1 calc(100% - 100px);
    justify-content: center;
    padding-left: 100px;
  }
}

.mobile-nav-trigger[aria-controls="MobileNav"] {
  position: absolute;
  left: 10px;
}

.site-nav__link.site-header__search-btn {
  padding: 10px;
}

.site-nav__link.site-header__search-btn svg {
  width: 28px;
  height: 28px;
}

.hide {
  display:none !important;
}

.product-single__title {
  margin-bottom: 20px;
}

.product__price-savings {
  background: rgb(186, 68, 68);
  color: #FFF;
  padding: 7px 20px;
  line-height: 0;
  border-radius: 30px;
  text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
  .scrollable-grid--small .grid-item {
    flex: 0 0 85%;
  }

  .header-section {
    padding-bottom: 10px;
  }
}

.product-block--price .sales-points {
  float: right;
  color: #54c63a;
  margin-top: 14px;
  text-transform: capitalize;
  font-size: 16px;
}

.green {
  color: #54c63a;
}

.coupon_code_badge {
  padding: 20px;
  display: grid;
  background: #faffcf;
  position: relative;
  text-align: center;
}

.coupon_code_badge:before {
  content: "";
  border: dashed 2px;
  position: absolute;
  left: 6px;
  top: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
}

.coupon_code_badge span {
  font-weight: 600;
}