.product__price.on-sale {
  color: #ba4444;
  font-size: 1.8em;
}

.subscription_table {
  border: solid 1px #3333;
  border-spacing: 2px;
}

.subscription_table {
  border: solid 1px #3333;
  border-spacing: 2px;
}

.subscription_table td {
  border: solid 1px #3333;
  text-align: center;
}

.red {
  color: #b54242;
}

.subscription_table-heading {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 10px;
}

[data-product-images] {
  position: relative;
}

.product-badge {
  position: absolute;
  padding: 8px 12px;
  line-height: 1;
  font-size: 14px;
  letter-spacing: 0;
  text-transform: capitalize;
  color: #1a2a47;
  border: solid 1px #1a2a47;
  background-color: #FFF;
}

.badge-bestseller {
  top: -14px;
  left: -8px;
}

.badge-freeshipping {
  top: -14px;
  right: -8px;
  display: flex;
  align-items: center;
}

.badge-freeshipping svg {
  width: 22px;
  height: 20px;
  margin-right: 6px;
  margin-top: -6px;
  margin-bottom: -6px;
}

.product-block .payment-icons {
  justify-content: center;
  margin-bottom: 0;
}

.product-block .free-shipping {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: .5px;
  margin-bottom: 0;
}

.product-block .free-shipping svg {
  width: 30px;
  margin-right: 10px;
  height: 30px;
}

.product-block .frequent-badge {
  margin: 0;
  display: block;
  text-align: center;
  font-family: Avenir,sans-serif;
  font-style: normal;
  font-size: 15px;
  line-height: 18px;
  border: 1px solid;
  padding: 9px 5px;
  color: #ff5f01;
  background: #fff2eb;
  font-weight: 400;
  letter-spacing: .5px;
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}

.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.payment-wrapper.sticky {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
  left: 0;
  background: #FFF;
}

.collection-image img {
  border-radius: 20px;
}

.btn {
  text-transform: uppercase;
  border-radius: 10px;
}